# Node.js dependencies
node_modules/

# Build output
dist/

# Logs
*.log
logs/
server.log
history.log

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Backup / temp files
*.bak
*.tmp

# Postman collections cache
.postman/
postman/

# Ignore data if not needed in production
data/*.json
!data/employees.json   # whitelist ไฟล์ sample ที่จำเป็น


dist/
*.exe
*.dmg
*.AppImage
